$black : black;
$secondary-color : #FFBC0D;
$whiteColor : #fff;

$backgroundColor : #f1f3f6;
$backgroundGreen : #265036;

$darkBack : #1b1a1a;

$DarkThemeColors : (
    'font' : white,
    'background' : darkgrey,
);

$LightThemeColors : (
    'font' : black,
    'background' : #fff,
);