$black : black;
$secondary-color : #eca50c;
$whiteColor : #fff;

$darkBack : rgb(27, 26, 26);

$DarkThemeColors : (
    'font' : white,
    'background' : darkgrey,
);

$LightThemeColors : (
    'font' : black,
    'background' : #fff,
);