@import 'config';
@import 'variables';

body {
    font-family: 'Playfair Display', serif;
    background-color: $backgroundColor;
    height: 250vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-shadow: 1px 0px 1px 1px $backgroundGreen;
    background: $backgroundGreen;
    margin-bottom: 10px;
    width: 100%;


    &__item {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include transition-ease;

        &:hover, :focus {
            opacity: 0.7;
            color: $secondary-color;
        }
        
        & img {
            height: 40%;
            width: 40%
        }

        &--1 {
            justify-content: flex-start;
        }
        
        &--3 {
            justify-content: flex-end;
            margin-right: 0.5rem;
            
            & img {
                height: 30px;
                width: 30px;
            }
        }
    }

    &__item--hamburger {
        margin-left: 0.5rem;
        width: 28px;
        height: 2px;
        background: white;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 2px;
            background: inherit;

        }

        &::before {
            content: '';
            position: absolute;
            top: 8px;
            width: 28px;
            height: 2px;
            background: inherit;

        }

        &.open {
            transform: rotate(720deg);
            background-color: transparent;
            @include transition-ease;

            &::before {
                transform: rotate(45deg) translate(-2px, -6px);
                background-color: white;
                @include transition-ease;
            }

            &::after {
                width: 28px;
                transform: rotate(-45deg) translate(-5px, 9px);
                background-color: white;
                @include transition-ease;
            }
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0 1rem 1rem 1rem;
    border-bottom: 1px solid black;
    width: 100%;
    @include transition-ease;
    position: fixed;
    top: 38px;
    background: $backgroundColor;
    z-index: 10;

    &.hidden {
        display: none;
        position: relative;
        @include transition-ease;

    }

    &__item {
        @include transition-ease;

        &:first-child {
            margin-top: 2%;
        }

        &--link{
            text-decoration: none;


            &--span {
                color: black;
                font-size: 1.1rem;

                &:hover, &:focus{
                    opacity: 0.7;
                    color: $secondary-color;
                }

                &--selected {
                    color: black;

                    &:hover, &:focus {
                        opacity: 0.7;
                        color: $secondary-color;
                    }
                }
            }
        }
    }

}
.main__h1 {
    display: flex;
    flex-direction: column;

    &--h1 {
        color: $black;
        width: 95%;
        margin: 0.5rem auto;
        text-align: center;
        font-size: 2rem;
        @include transition-ease;
    }

    &--text {
        color: $black;
        width: 90%;
        padding: 0.3rem auto;
        margin: 0 auto;
        text-align: justify;
        font-size: 1.1rem;
        @include transition-ease;
    }

    &--btn {
        font-size: 1.3rem;
        background-color: $secondary-color;
        border-radius: 0.2rem;
        width: auto;
        margin: 1rem auto;
        border: none;
        padding: 0.25rem 0.5rem;
        box-shadow: 1px 1px 1px 1px grey;


        &:hover, &:active, &:focus {
            opacity: 0.8;
        }


        &--link {
            color: $black;
            text-decoration: none;
            @include transition-ease;
            font-weight: 500;
            font-style: italic;
        }
    }

}

.image {

    width: 90%;
    height: 8rem;
    margin: 0 auto;
    

    &__img {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
    }
}





.main {
    min-width: -webkit-fill-available;
    padding-top: 2rem;
    @include transition-ease;

    &__text {
        color: $black;
        width: 100%;
        margin: 1rem auto;
        text-align: center;
        @include transition-ease;

        &--text {
            @include transition-ease;
            width: 100%;
            margin: 0 auto;
            text-transform: uppercase;
        }
    }

    &__ads {
        height: 15rem;
        box-shadow: 2px 2px 3px 1px grey;
        width: 90%;
        margin: 0 auto;

        &__ad {
            height: 15rem;
            width: 100%;
        }
    }
}


.download {
    margin-top: 2rem;
    background-color: $secondary-color;
    box-shadow: 0px 2px 2px $secondary-color, 0px -2px 2px $secondary-color;
    border-top: 1px solid $secondary-color;


    &__h2 {
        font-size: 1.2rem;
        text-align: center;
        padding-top: 10%;
        letter-spacing: 0.8px;
        font-weight: bold;
    }

    &__p {
        font-size: 0.8rem;
        text-align: center;
        padding-top: 2%;
        font-weight: 600;
    }

    &__imgContainer {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin: 0 auto;
    }
}

.workplace { 
    background: url('../assets/mcdonalds__work.jpg');
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__h2 {
        color: white;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 900;
        text-shadow: 2px 2px black;
    }

    &__span {
        font-size: 1.2rem;
        border: 1px solid $secondary-color;
        background-color: $secondary-color;
        padding: 0.25rem 0.5rem;
        display: flex;
        align-items: center;
        border-radius: 2rem;
        

        &--link {
            color: black;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;

            &:hover, &:focus {
                opacity: 0.7;
            }
            
        }
        
    }
}

.footer {
    background: url('../assets/sezam__background.PNG');
    background-repeat: no-repeat;

    &__container {
       padding: 0.8rem 0;
    }

    &__list {
    text-align: center;
    

    &--item {
        padding: 0.5rem 0;
        color: black;

        & a {
            color: black;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;

            &:hover, &:focus {
                opacity: 0.7;
            }
        }
    }
    }
}

.copyright {
    background: url('../assets/sezam__background.PNG');
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}