@import 'config';
@import 'variables';

body {
    font-family: 'Playfair Display', serif;
    background-color: $backgroundColor;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-shadow: 1px 0px 1px 1px $backgroundGreen;
    background: $backgroundGreen;
    margin-bottom: 10px;
    width: 100%;
    max-height: 50px;


    &__item {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        // @include transition-ease;

        &:hover, :focus {
            opacity: 0.7;
            color: $secondary-color;
        }
        
        & img {
            height: 46px;
            width: 40px;
        }

        &--1 {
            justify-content: flex-start;
        }
        
        &--3 {
            justify-content: flex-end;
            margin-right: 0.5rem;
            
            & img {
                max-height: 30px;
                max-width: 30px;
            }
        }
    }

    &__item--hamburger {
        margin-left: 0.5rem;
        width: 28px;
        height: 2px;
        background: white;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 2px;
            background: inherit;

        }

        &::before {
            content: '';
            position: absolute;
            top: 8px;
            width: 28px;
            height: 2px;
            background: inherit;

        }

        &.open {
            transform: rotate(720deg);
            background-color: transparent;
            @include transition-ease;

            &::before {
                transform: rotate(45deg) translate(-2px, -6px);
                background-color: white;
                @include transition-ease;
            }

            &::after {
                width: 28px;
                transform: rotate(-45deg) translate(-5px, 9px);
                background-color: white;
                @include transition-ease;
            }
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0 1rem 1rem 1rem;
    border-bottom: 1px solid black;
    width: 100%;
    position: fixed;
    top: 38px;
    background: $backgroundColor;
    z-index: 10;

    &.hidden {
        display: none;
        position: relative;
        

    }

    &__item {

        &:first-child {
            margin-top: 2%;
        }

        &--link{
            text-decoration: none;


            &--span {
                color: black;
                font-size: 1rem;
                font-size: clamp(1rem, 0.8499999999999999rem + 0.6666666666666672vw, 1.1rem);

                &:hover, &:focus{
                    opacity: 0.7;
                    color: $secondary-color;
                }

                &--selected {
                    color: black;

                    &:hover, &:focus {
                        opacity: 0.7;
                        color: $secondary-color;
                    }
                }
            }
        }
    }

}
.main__h1 {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 4vh;

    &--h1 {
        color: $black;
        max-width: min(95%, 1000px);
        margin: min(3rem, 3vw) auto;
        text-align: center;
        font-size: 2rem;
        font-size: clamp(2rem, 1.4772727272727273rem + 2.272727272727273vw, 3rem);
        // @include transition-ease;
        height: auto;
    }

    &--text {
        color: $black;
        max-width: min(90%, 950px) ;
        padding: 0.3rem auto;
        margin: min(1rem, 3vw) auto;
        text-align: justify;
        font-size: clamp(1.1rem, 0.7863636363636366rem + 1.3636363636363629vw, 1.7rem);
        // @include transition-ease;
    }

    &--btn {
        font-size: clamp(1.6rem, 0.881818181818182rem + 1.8181818181818177vw, 2.9rem);
        background-color: $secondary-color;
        max-width: auto;
        margin: clamp(1.5rem, 2vh, 8rem) auto;
        border-radius: 2rem;
        border: none;
        padding: 0.25rem 1rem;
        box-shadow: 1px 1px 1px 1px grey;


        &:hover, &:active, &:focus {
            opacity: 0.8;
        }


        &--link {
            color: $black;
            text-decoration: none;
            font-size: clamp(1.2rem, 0.5727272727272725rem + 2.727272727272728vw, 1.8rem);
            font-weight: 500;
            font-style: bold;
        }
    }

}

.image {

    width: 90%;
    min-height: 160px;
    max-height: 1000px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    

    &__img {
        height: 100%;
        width: 100%;
        max-height: 1000px;
        max-width: 1400px;
        border-radius: 0.5rem;
    }
}

// @media screen and (max-width:  )





.main {
    min-width: -webkit-fill-available;
    padding-top: 2rem;
    // @include transition-ease;

    &__text {
        color: $black;
        width: 100%;
        margin: 1rem auto;
        text-align: center;
        // @include transition-ease;

        &--text {
            // @include transition-ease;
            font-size: 1rem;
            font-size: clamp(1rem, 0.2681818181818183rem + 3.1818181818181817vw, 2rem);
            width: 100%;
            margin: 0 auto;
            text-transform: uppercase;
        }
    }

    &__ads {
        height: 250px;
        min-height: 80px;
        max-height: 600px;
        max-width: 1000px;
        box-shadow: 2px 2px 3px 1px grey;
        width: 90%;
        margin: 0 auto;
        border-radius: 0.5rem;
        

        &--box {
           height: 100%;
           width: 100%;
           
        }

        &__ad {
            height: 100%;
            max-height: 600px;
            min-height: 80px;
            width: 100%;
            border-radius: 0.5rem;
        }
    }
}


.download {
    width: 90%;
    margin: 2rem auto 1rem auto;
    background-color: $secondary-color;
    height: auto;
    border-radius: 0.5rem;



    &__h2 {
        font-size: 18px;
        text-align: center;
        padding-top: max(2rem, 5vw);
        letter-spacing: 0.8px;
        font-weight: bold;
    }

    &__p {
        font-size: 12px;
        text-align: center;
        padding-top: 2%;
        font-weight: 600;
    }

    &__imgContainer {
        display: flex;
        flex-direction: column;
        width: 50%;
        max-width: 450px;
        margin: 0 auto;
        
        &--img{
            display: flex;
            justify-content: center;
            height: auto;
            width: 60%;
            margin-left: 20%;
        }
    }
}

.workplace { 
    background: url('../assets/workplace__img.jpg');
    width: 90%;
    margin: 1rem auto;
    border-radius: 0.5rem;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: clamp(18rem, 50vw, 650px);
    min-height: 13rem;
    max-height: 650px;


    &__h2 {
        color: $secondary-color;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 900;
        text-shadow: 2px 2px black;
        
    }

    &__span {
        font-size: 1.2rem;
        border: 1px solid $secondary-color;
        background-color: $secondary-color;
        padding: 0.25rem 0.5rem;
        display: flex;
        align-items: center;
        border-radius: 2rem;
        margin-top: 3%;
        

        &--link {
            color: black;
            text-decoration: none;
            font-size: clamp(0.8rem, 0.7863636364rem + 1.3636363636vw, 3rem);
            font-weight: 600;

            &:hover, &:focus {
                opacity: 0.7;
            }
            
        }
        
    }
}

.footer {
    width: 90%;
    margin: 0 auto;
    border-radius: 0.5rem;
    background: url('../assets/sezam__background.PNG');
    background-repeat: repeat;

    &__container {
       padding: 0.8rem 0;
    }

    &__list {
    text-align: center;
    list-style: none;
    

    &--item {
        padding: 0.5rem 0;
        color: black;

        & a {
            color: black;
            text-decoration: none;
            font-size: clamp(0.8rem, 0.35rem + 2.0000000000000004vw, 1.1rem);
            font-weight: 600;
            background: $secondary-color;

            &:hover, &:focus {
                opacity: 0.7;
            }
        }
    }
    }

    &__socialIcons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5vw;

        & a {
            color: black;
            & i {
                font-size: 1.3rem;
                font-size: clamp(1.3rem, 1.0869565217391304rem + 0.9739130434782608vw, 2rem);
                
                &:hover, :focus {
                    scale : 1.3;
                    opacity: 0.7;
                }
            }
        }

       
    }
}

.copyright {
    text-align: center;
    font-size: clamp(0.8rem, 0.35rem + 2.0000000000000004vw, 1.1rem);
    font-weight: 600;
    width: 90%;
    margin: 0 auto;
}



@media screen and (min-width: 600px) and (max-width: 1000px) {
    
    .menu {

        &__item {

            &--link {

                &--span {
                    font-size: 1rem;
                    font-size: clamp(1rem, 0.7993987975951902rem + 0.3206412825651305vw, 1.1rem);
                }
            }
        }
    }
    
    
    
    
    .media600-1000 {
        display: flex;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        justify-content: center;

        .main__h1--h1 {
            margin: auto auto;
            padding-right: 0.5rem;
            display: flex;
            text-align: center;
            justify-content: center;
            font-size: clamp(1.875rem, 0.9375rem + 2.5vw, 2.5rem);
        }

        .main__h1--text{
            padding-top: 2rem;
            margin-left: 1rem;
            padding-left: 1rem;
            font-size: clamp(1rem, 0.15625rem + 2.25vw, 1.5625rem);
            border-left: 3px solid $secondary-color;
        }
    }

    .main__ads {
        width: 90%;
        margin: 0 auto;
        box-shadow: none;
    
        &--box {
            height: 300px;
            width: 80%;
            margin: 0 auto;
            
            &__ad {
                height: 300px;
                width: 100%;
            }
        }
            }
        
.media600__ads__download {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

    .main__ads {
        width: 100%;
        height: 200%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: stretch;
        padding-right: 1rem;
        border-right: 3px solid $secondary-color;

        &--box {
            margin: 0;
            width: 100%;
        }

        &__ad {
            border-radius: 0.5rem;

        }
    }

    .download {
        width: 50%;
        height: 300px;
        margin: 0 auto;
        padding: 0;
        border-radius: 0.5rem;
        margin-left: 1rem;

        

        &__imgContainer {
            max-height: 120px;
            width: 80%;
            margin: 0 auto;

            &--img{
                display: flex;
                justify-content: center;
                height: auto;
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

.workplace {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 0.5rem;
}

.footer {

    width: 90%;
    margin: 0 auto;
    
    &__container {
        margin-top: 2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        

        & ul {
            display: flex;
            flex-flow: row wrap;
            list-style: none;
            justify-content: space-around;
            align-items: center;
            
            
            
            & li {
                row-gap: 0.5rem;
                width: 32%;
                border-right: 1px solid black;
                    
                

                & a {
                    font-size: clamp(0.7rem, 0.09999999999999964rem + 1.6000000000000008vw, 1.1rem);
                    
                }

                
            }
        }
    }
}


.copyright {
    width: 90%;
    margin: 0 auto;
    font-size: clamp(0.7rem, 0.09999999999999964rem + 1.6000000000000008vw, 1.1rem);
}
}


@media screen and (min-width: 1001px) and (max-width: 1500px) {
    
    .menu {

        &__item {

            &--link {

                &--span {
                    font-size: 1.2rem;
                    font-size: clamp(1.2rem, 0.8rem + 0.6399999999999999vw, 1.4rem);
                }
            }
        }
    }



    .media600-1000 {
        display: flex;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        justify-content: center;

        .main__h1--h1 {
            margin: auto auto;
            padding-right: 0.5rem;
            display: flex;
            text-align: center;
            justify-content: center;
            font-size: clamp(1.875rem, 0.9375rem + 2.5vw, 2.5rem);
        }

        .main__h1--text{
            padding-top: 2rem;
            margin-left: 1rem;
            padding-left: 1rem;
            font-size: clamp(1rem, 0.15625rem + 2.25vw, 1.5625rem);
            border-left: 3px solid $secondary-color;
        }
    }

        
.media600__ads__download {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

    .main__ads {
        width: 100%;
        max-width: 550px;
        height: 500px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: stretch;
        border-right: 3px solid $secondary-color;

        &--box {
            margin: 0;
            width: 100%;
        }

        &__ad {
            border-radius: 0.5rem;

        }
    }

    .download {
        width: 50%;
        max-width: 550px;
        height: 500px;
        margin: 0 auto;
        padding: 0;
        border-radius: 0.5rem;
        margin-left: 1rem;
        display: flex;
        flex-flow: column;
        justify-content: center;

        &__h2 {
            font-size: clamp(1.6rem, 1.1987975951903809rem + 0.6412825651302604vw, 1.8rem);
        }

        &__p {
            font-size: clamp(1rem, 0.39819639278557106rem + 0.9619238476953909vw, 1.3rem);
        }

        

        &__imgContainer {
            max-height: 500px;
            width: 80%;
            margin: 0 auto;

            &--img{
                display: flex;
                justify-content: center;
                height: auto;
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

.workplace {
    width: 90%;
    max-height: 800px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 0.5rem;

    &__h2 {
        font-size: 2.5rem;
        font-size: clamp(2.5rem, 1.6975951903807618rem + 1.2825651302605208vw, 2.9rem);
    }
}
    
    
    .copyright {
        width: 90%;
        margin: 0 auto;
        font-size: clamp(0.7rem, 0.09999999999999964rem + 1.6000000000000008vw, 1.1rem);
    }

    .footer {
        width: 90%;
        margin: 0 auto;
        
        &__container {
            margin-top: 2rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            
    
            & ul {
                display: flex;
                flex-flow: row wrap;
                list-style: none;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                
                
                
                & li {
                    row-gap: 0.5rem;
                    width: 15%;
                    
                        
                    
    
                    & a {
                        font-size: clamp(0.7rem, 0.09999999999999964rem + 1.6000000000000008vw, 1.1rem);
                        
                    }
    
                    
                }
            }
        }
    }
    
}